<img src ='Data/books_1.png'>

In [8]:
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
from urllib.parse import quote_plus as urlquote

In [2]:
import json
with open('/Users/evelynmartinez/.secret/mysql.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['username', 'password'])

In [5]:
connection = f"mysql+pymysql://{login['username']}:{urlquote(login['password'])}@localhost/books"
engine = create_engine(connection)

In [6]:
if database_exists(connection):
    print('it exists')
else:
    create_database(connection)
    print('Database created')

it exists

In [10]:
books = pd.read_csv('Data/books.csv')
books.head()

   id                 title  author_id
0   1           The Shining          1
1   2                    It          1
2   3      The Great Gatsby          2
3   4  The Call of the Wild          3
4   5   Pride and Prejudice          4

In [11]:
users = pd.read_csv('Data/users.csv')
users.head()

   id first_name  last_name                 email
0   1       John        Doe          JD@books.com
1   2      Robin      Smith       Robin@books.com
2   3     Gloria  Rodriguez  grodriquez@books.com

In [12]:
favorites = pd.read_csv('Data/favorites.csv')
favorites.head()

   user_id  book_id
0        1        1
1        1        2
2        1        3
3        2        4
4        2        5

In [13]:
authors = pd.read_csv('Data/authors.csv')
authors.head()

   id        author_name
0   1       Stephen King
1   2  F.Scott Fitgerald
2   3        Jack London
3   4        Jane Austen
4   5       Mary Shelley

In [15]:
books.to_sql('books', engine, if_exists = 'replace')

6

In [16]:
users.to_sql('books', engine, if_exists = 'replace')

3

In [17]:
favorites.to_sql('books', engine, if_exists = 'replace')

7

In [18]:
authors.to_sql('books', engine, if_exists = 'replace')

5